@import "src/scss/settings/mixins";

.section-form {
  height: 950px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    background: transparent url("../../assets/Background-Contact-Form.jpg") no-repeat left/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
  }

  .contact {
    width: 50%;
    height: calc(100% - 30px);
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .title-decoration {
     @include title-decoration;
    }
    .contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 40%;
      width: 50%;
      .form-success {
        color: green;
        align-self: center;
        margin-bottom: 20px;
        font-size: 1.3rem;
      }
      .form-name-email {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        label {
          width: 45%;
          font-size: 1.1rem;
          .invalid {
            border-bottom: 1px solid red;
          }
          input {
            margin-top: 12px;
            font-size: 1.2rem;
            color: $color-dark-grey;
            border: none;
            border-bottom: 2px solid $color-light-grey;
            background-color: transparent;
          }
        }
      }
      .form-label-message {
        margin-top: 20px;
        font-size: 1.1rem;
        .invalid {
          border-bottom: 1px solid red;
          background-color: transparent;
        }
        textarea {
          width: 528px;
          height: 140px;
          font-size: 1.2rem;
          color: $color-dark-grey;
          border: none;
          border-bottom: 2px solid $color-light-grey;
          background-color: transparent;
          text-align: justify;
        }
      }
      p {
        color: red;
        background-color: transparent;
      }
      .submit-button {
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 0;
        padding: 13px 52px;
        background-color: transparent;
        border: 0.75px solid $color-dark-grey;
      }
    }
  }
}