@import "node_modules/reset-css/sass/reset";
@import "src/scss/settings/fonts";
@import "src/scss/settings/colors";
@import "src/components/HomeHeader/homeheader";
@import "src/components/HomeThreeColumns/homethreecolumns";
@import "../components/HomeInformation/homeinformation";
@import "../components/HomeAboutUs/homeaboutus";
@import "../components/HomeMain/homemain";
@import "src/components/Home/home";

* {
  box-sizing: border-box;
}
body {
  font-family: $font-base;
  font-size: 14px;
  color: $color-dark-grey;
}
a {
  text-decoration: none;
  color:inherit;
}
